body {
  background-color:rgb(117, 181, 246);
}

h1 {
  color: aquamarine;
  font-size: 70px;
  font-weight: bold;
}


#abc {
  color: blue;
}

#button {
  color: red;
}

#glink {
  text-align: center;
}

#ok{
    border-bottom: 20px double #ffff01;
    padding: 3px;
    border-radius:5px;
    background-color: lightcyan;
}
