body {
  background-color:rgb(50, 179, 230);
}

h1 {
  color: aquamarine;
  font-size: 70px;
  font-weight: bold;
}

a#colin:link {
  color:red;
  background-color: white;
  text-decoration: underline;
}

a#colin:visited {
  color:rgb(0, 255, 55);
  background-color: white;
  text-decoration: underline;
}

a#colin:hover {
  color:rgb(238, 255, 0);
  background-color: white;
  text-decoration: underline;
}

a#colin:active {
  color:rgb(243, 16, 213);
  background-color: white;
  text-decoration: underline;
}

#abc {
  color: blue;
}

#button {
  color: red;
}

#b2 {
  color: blue;
  background-color: rgb(255, 255, 255);
}

#glink {
  text-align: center;
}

#ok{
    border-left: 20px double #ffff01;
    padding: 3px;
    background-color: lightcyan;
}
