body {
  background-color:rgb(117, 181, 246);
}

h1 {
  color: aquamarine;
  font-size: 70px;
  font-weight: bold;
}

a#colin:unvisited {
  color:red;
}

#abc {
  color: blue;
}

#button {
  color: red;
}

#b2 {
  color: blue;
  background-color: rgb(255, 255, 255);
}

#glink {
  text-align: center;
}

#ok{
    border-left: 20px double #ffff01;
    padding: 3px;
    background-color: lightcyan;
}
